html
body {background: white;
    color: grey;
    
}

.item {
width : 30% ;
float : left ;
margin : 1% ;
}

h2 {color: brown;}

h3 {
 color: green;
}

img.thumbnail {
    width: 200px;
    height: 200px;
    border: aquamarine;
} 

#myInput {
    width: 65%;
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }