/* -------------------------------------*/
/* BASIC SETUP */
/* -------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;

}

body {
    font-family: 'Lato', 'Arial', sans-serif;
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: '-';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/* -------------------------------------*/
/* RESUABLE COMPONENTS */
/* -------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}


section {
    padding: 80px 0px;
}

.box {
    padding: 1%;
}

/* -------------------------------------*/
/* HEADER */
/* -------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/Aboriginal\ image.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*MAIN NAVIGATION*/

.main-nav {
    float: right;
    list-style: none;
    margin-top: 40px;
    margin-bottom: 20px;

}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

h1 {
    font-size: 350%;
    text-transform: uppercase;
    margin-top: 50px;
    font-weight: 200;
    color: #F0EAD6;
    word-spacing: 4px;
    letter-spacing: 1px;
       
}

h2 {
    color: rgb(134, 133, 133);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

h3 {
    color:rgb(134, 133, 133);
    font-size: 100%;
    font-weight: 800;
}

p {
    color: grey;
    font-size: 80%;
    line-height: 150%;
    font-weight: 300;
    font-family: sans-serif;
}

.logo {
    height: 80px;
    width: auto;
    float: center;
    margin-top: 20px;
}


label {
    color:whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 100%;
}

div.section {
    border: 1px solid rgb(4, 79, 83);
    border-bottom: none;

}

button {
    background: none;
    border: solid #e67e22;
    color: whitesmoke;
    padding: 8px 10px;
    border-radius: 100px;
    font-size: 80%;
}


#myInput {
    width: 50%;
    position: relative;
    font-weight: lighter;
    font-style: italic;
    font-size: 70%;
    padding: 20px 20px 20px 40px;
    border: 1px solid #ddd;
    border-radius: 100px;
    margin-top: 50px;
    margin-bottom: 30px;
    
}

path {
    color: #e67e22;
}

/*EXPLORE SECTION*/

.section-explore {
    background-color:#f5f5f5;
}

.explore-box {
    border-radius: 5 px;
    width: 90%;
    margin-left: 5%;
}

.explore-box div {
    padding: 20px;
   
}


.explore-box:last-child {
    text-align: center;
    border: 0;
}


/*ON THE MAP SECTION*/

.section-map {
    background-color: red;
}

/*IMAGES*/

.imageone{
    max-width: 100%;
    height: auto;
    background-color: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    
}
.imagetwo {
    max-width: 100%;
    height: auto;
    background-color: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}


/*BUTTON*/

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transform: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #bf6516;

}

.btn-full:hover,
.btn-full, active,
input[type=submit] {
    border: 1px solid #e67e22;

}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #e67e22;
    color: #fff;
}


/* responsive grid system */

/*  GRID OF THREE  */

.span_3_of_3 {
    width: 100%;
}

.span_2_of_3 {
    width: 66%;
}

.span_1_of_3 {
    width: 32%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }
    .span_3_of_3, .span_2_of_3, .span_1_of_3 {
        width: 100%;
    }
}

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1%;
    height: 100%;
}

.col:first-child {
    margin-left: 0;
}

/*  GROUPING  */
.group:before, .group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}