/* -------------------------------------*/
/* BASIC SETUP */
/* -------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    font-size: 20px;
    text-rendering: optimizeLegibility;

}

body {
    font-family: 'Lato', 'Arial', sans-serif;
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: '-';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/* -------------------------------------*/
/* RESUABLE COMPONENTS */
/* -------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}


section {
    padding: 80px 0px;
}

.box {
    padding: 1%;
}

/* -------------------------------------*/
/* HEADER */
/* -------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/Aboriginal\ image.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.logo-black {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 40px;
    margin-bottom: 20px;

}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/*sticky nav*/
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px rgb(231, 227, 227);
    z-index: 9999;
}

.sticky .main-nav {
    margin-top: 18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0px;
    color: #555;
}

.sticky .logo-black {
    display: block;
}

h1 {
    font-size: 350%;
    text-transform: uppercase;
    margin-top: 200px;
    font-weight: 200;
    color: #F0EAD6;
    word-spacing: 4px;
    letter-spacing: 1px;
       
}

h2 {
    color: rgb(134, 133, 133);
    text-transform: uppercase;
    font-weight: 350;
    font-size: 180%;
    text-align: center;
    margin-bottom: 80px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

h2.result-title {
    color: rgb(134, 133, 133);
    text-transform: capitalize;
    font-weight: 400;
    font-size: 130%;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 50px;
}

h2.result-title:after{
    display: none;
}


h3 {
    color: #BA5E0B;
    font-size: 100%;
    font-weight: 400;
    opacity: 70%;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

p 
{color: #3E1D00;
    font-size: 80%;
    line-height: 150%;
    font-weight: 330;
}


p.physdesc,
p.type,
p.collection {
    color: #3E1D00;
    font-size: 80%;
    line-height: 150%;
    font-weight: 330;

}

label {
    color:whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 100%;
}

div.section {
    border: 2px solid #EB6F02;
    border-bottom: none;

}

#myInput {
    width: 50%;
    position: relative;
    font-weight: lighter;
    font-style: italic;
    font-size: 70%;
    padding: 20px 20px 20px 40px;
    border: 1px solid #ddd;
    border-radius: 100px;
    margin-top: 20px;
    margin-bottom: 30px; 
}

#search-icon {
    position: relative;
    z-index: 1;
    left: -50px;
    top: 1px;
    color: #e67e22;
}

/*EXPLORE SECTION*/

.section-explore {
    background-color:#f5f5f5;
}

.explore-box {
    border-radius: 5 px;
    width: 90%;
    margin-left: 5%;
}

.explore-box div {
    padding: 20px;
   
}


.explore-box:last-child {
    text-align: center;
    border: 0;
}


/*ON THE MAP SECTION*/


/*IMAGES*/


.imageone{
    max-width: 100%;
    height: auto;
    background-color: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    
}
.imagetwo {
    max-width: 100%;
    height: auto;
    background-color: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}



/*BUTTON*/

button,
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transform: background-color 0.2s, border 0.2s, color 0.2s;
}

button,
.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

button,
.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

button,
.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #bf6516;

}

button,
.btn-full:hover,
.btn-full, active,
input[type=submit] {
    border: 1px solid #e67e22;

}

button,
.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #e67e22;
    color: #fff;
}

.col-span-1-of-2 {
	display: block;
	float:left;
	/* margin: 1% 0 1% 1.6%; */
}


/* Autocomplete Sty */
.autocomplete-suggestions { background: #ddd; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { color: #e67e22;}
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 0.5px solid #ecbc92; }


/*Read more Show Less*/

.addReadMore.showlesscontent .SecSec,
.addReadMore.showlesscontent .readLess {
    display: none;
}

.addReadMore.showmorecontent .readMore {
    display: none;
}

.addReadMore .readMore,
.addReadMore .readLess {
    font-weight: bold;
    margin-left: 2px;
    color: blue;
    cursor: pointer;
}

.addReadMoreWrapTxt.showmorecontent .SecSec,
.addReadMoreWrapTxt.showmorecontent .readLess {
    display: block;
}